@CHARSET "UTF-8";
#tab {width:800px; height:1000px; border:1px solid black;}
#tab .calendar{background:red;}
#tab ul {width:200px; height:200px; }
#tab ul .active{bacground:yellow;}
#tab div {width:800px; height:100px;}
#tab div .text{background:green;}